
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}
body {
    font-family: Arial, sans-serif;
    color: #f5fffa;
    background: linear-gradient(#ff90a5, #ffa3b5, #ffb6be, #ffb7d7, #ffcbd5);
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}
.title:first-of-type{
    padding-top: 10px;
}

#info {
    background-color: #40404099;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#selection{
    padding: 10px 0px 20px;
}

#selection label{
    display: inline-block;
    padding-left: 5px;
}

#selection label:nth-of-type(2){
    margin-left: 230px;
    margin-right: 230px;
}

#selLecture,
#selPractical,
#selTutorial{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 3.6px;
}
#selPractical{
    left: 230px;
}


#lecture,
#practical,
#tutorial {
    background-color: #40404099;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;

}

#calculate-btn,
#back-btn {
    background-color: #3a3b3caa;
    color: #f5fffa;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    min-width: 300px;
    display: block;
    margin: auto;
}

#calculate-btn:hover,
#back-btn:hover {
    background-color: #404040dd;
    color: #e73895;
} 

form{
    display: block;
    max-width: 900px;
    min-width: 400px;
    margin: auto;
}

#display {
    display: block;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    background-color: #40404099;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#display a{
    text-decoration: none;
}

#list{
    list-style: none;
    margin-bottom: 20px;
}

.clicked{
    height: 200vh;
}

#info:hover,
#lecture:hover,
#practical:hover,
#tutorial:hover,
#display:hover{
    background-color: #404040dd;
    color: #ff849c;
    .title{
        color: #f5fffa;
    }
}

#footer{
    text-align: center;
    color: black;
    border: solid 1px black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#footer div{
    display: inline-block;
    margin: 0px 30px;
    position: relative;
    left: 30px;
}
