
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}
body {
    font-family:'Courier New', Courier, monospace;
    color: #f5fffa;
    background: linear-gradient(#ff9eb0bb,#ffcbd5, #ffb7d7, #ff9eb0bb);
    overflow-y: scroll;
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
}


.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}

h1.title{
    padding-top: 10px;
}

#info {
    background-color: #40404099;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#selection{
    padding: 10px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selection label{
    padding-left: 5px;
    display: inline-block;
}

#selection > div{
    flex: 1;
    text-align: center;
}


#selLecture,
#selPractical,
#selTutorial{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 3.6px;
}


#lecture,
#practical,
#tutorial {
    background-color: #40404099;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;

}

#calculate-btn,
#back-btn {
    background-color: #3a3b3caa;
    color: #f5fffa;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    min-width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 26px;
}

#calculate-btn:hover,
#back-btn:hover {
    background-color: #404040dd;
    color: #e73895;
} 

#back-btn{
    min-width: 200px;
    max-height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

a{
    display: block;
    margin: auto;
    max-width: 300px;
}

#input{
    display: block;
    max-width: 65%;
    min-width: 720px;
    margin: auto;
}

#display {
    display: block;
    max-width: 60%;
    min-width: 600px;
    margin: auto;
    background-color: #404040dd;
    padding: 0px 20px;
    padding-bottom: 1px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 15%;
    text-align: center;
}

#display a{
    text-decoration: none;
}



h3{
    font-size: 150%;
    color: #ff849c;
    padding: 10px;
}

#info:hover,
#lecture:hover,
#practical:hover,
#tutorial:hover{
    background-color: #404040dd;
    color: #ff849c;
    .title{
        color: #f5fffa;
    }
}

#footer{
    text-align: center;
    color: black;
    border: solid 1px black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    flex-shrink: 0;
    background: #ffe2e799;
}

#footer div{
    display: inline-block;
    margin: 0px 30px;
    position: relative;
    left: 30px;
}


@media screen and (max-width: 768px) {
    html, 
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80%;
        font-size: 20px;

    }

    h1.title{
        min-width: 320px;
        max-width: 110%;
        margin: 10px 0px;
        font-size: 170%;
    }

    h2.title{
        width: 100%;
        font-size: 35px;
        padding: 0px;
        margin: 0px;
    }

    label {
        font-size: 18px;
    }

    input[type="text"],
    input[type="number"],
    input[type="checkbox"] {
        font-size: 18px;
        padding: 8px;
    }

    #selection label:nth-of-type(2) {
        margin-left: 15px;
        margin-right: 15px;
    }

    #selection div{
        max-width: 96px;
    }

    #selLecture,
    #selPractical,
    #selTutorial {
        width: 20p;
        height: 20px;
        top: 2px;
    }

    #calculate-btn,
    #back-btn {
        font-size: 25px;
        min-width: 200px;
        padding: 8px 16px;
        margin: 40px auto;
    }

    #display {
        padding: 15px;
        min-width: 200px;
        max-width: 80%;
        margin: auto;
        margin-top: 40%;
    }

    #list{
        margin: 5px;
        margin-left: 15px;
    }

    #list b,
    #list p{
        font-size: 22px;
    }

    #footer {
        font-size: 18px;
        padding: 2px;
    }

    #footer div {
        margin: 0px 10px;
        left: 0px;
    }

    #input{
        min-width: 200px;
        max-width: 80%;
        margin: auto;
    }
}
